@model List<BasicUserData>
@{
    ViewData["Title"] = "Find Friends";
}

<h3 class="text-center text-white">Find Friends</h3>

<div class="bg-light col-12 p-2 mt-3 pr-4">
    <form>
        <div class="form-group col-12 m-3">
            <input oninput="updateResult(this.value, '@ViewData["userId"].ToString()')" type="search" placeholder="Search..." class="col-12 bg-light" />
            <div class="container">
                <ul class="list-group result mt-2">
                    @foreach (var user in Model)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <a href="/Friends/ViewProfile?friendId=@user.Id.ToString()">
                                @{
                                    string imagePath = "";

                                    if (!string.IsNullOrEmpty(user.ProfileImagePath))
                                    {
                                        imagePath = $"/Image/{user.ProfileImagePath}";
                                    }
                                    else
                                    {
                                        imagePath = $"/Image/default.jpg";
                                    }
                                }
                                <div class="float-left mt-1 pr-4">
                                    <img class="rounded-circle" src="@imagePath" />
                                </div>
                                @user.FirstName @user.LastName
                            </a>
                            <button onclick="sendNotification('@ViewData["userId"].ToString()', '@user.Id.ToString()', null, 'friendRequest')" class="btn btn-light btn-sm offset-sm-6"><i class="fas fa-user-plus"></i></button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </form>
</div>
<script src="~/js/friendsSearch.js"></script>