@model List<BasicUserData>
@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-white">Friends</h3>

<div class="col-12 border p-3 mt-3 bg-white ">
    <form method="post">

        @foreach (var user in Model)
        {
        <div class="d-flex row col-12 bg-light border border-dark p-2 mx-1">
            <div class="p-2 mr-auto">
                <a asp-action="ViewProfile" asp-route-friendId="@user.Id">@user.FirstName @user.LastName</a>
            </div>
           

            <button asp-controller="Message" asp-action="Index" asp-route-friendId="@user.Id" class="btn btn-primary btn-sm mr-1">
                <i class="fab fa-facebook-messenger"></i>
            </button>

            <button asp-controller="Friends" asp-action="DeleteFriend" asp-route-friendId="@user.Id" class="btn btn-danger btn-sm">
                <i class="fas fa-user-times"></i>
            </button>
        </div>
                }

        </form>
</div>