@model PostWithCommentToAdd

@{
    ViewData["Title"] = "Comments";
}

    <div class="col-12 border p-3 mt-3 bg-white">
        @{
            var x = new BasicUserWithPost
            {
                Post = Model.Post,
                User = Model.User,
            };
            await Html.RenderPartialAsync("../Shared/_PostSection", x, new ViewDataDictionary(ViewData) {
                        {"postCounter", 0.ToString() },
                    { "userId", ViewData["loggedUserId"]}
                    });
        }
        <div class="my-4"></div>

        @foreach (var comment in Model.Post.PostComments)
        {
            <div class="container my-3 col-10">
                @{
                    var currentUser = Model.Users.FirstOrDefault(x => x.Id == comment.FromWho);
                    await Html.RenderPartialAsync("../Shared/_UserInComments", currentUser, new ViewDataDictionary(ViewData) {
    {"whenAdded", comment.WhenAdded.ToString() }});
                }
                <div class="input-group row col-12 mt-0">
                    <div class="form-control border border-dark text-justify">@comment.Text</div>
                    @if (ViewData["loggedUserId"].ToString() == comment.FromWho.ToString())
                    {
                        <div class="input-group-append">
                            <form asp-action="EditComment" asp-route-userId="@ViewData["currentUserProfileId"]" asp-route-postId="@Model.Post.Id" asp-route-commentId="@comment.Id" method="post">
                                <button class="btn border">
                                    <i class="fas fa-edit fa-align-center"></i>
                                </button>
                            </form>
                            <form asp-action="DeleteComment" asp-route-userId="@ViewData["currentUserProfileId"]" asp-route-postId="@Model.Post.Id" asp-route-commentId="@comment.Id" method="post">
                                <button class="btn btn-danger border" type="submit">
                                    <i class="fas fa-trash-alt fa-adjust"></i>
                                </button>
                            </form>
                        </div>
                    }
                </div>
            </div>

        }
        <form asp-action="AddComment" asp-route-userId="@ViewData["currentUserProfileId"]" asp-route-postId="@Model.Post.Id.ToString()" method="post" class="container col-10">
            <div class="input-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <textarea class="form-control" type="text" asp-for="@Model.Text" rows="1" style="height:3em;" id="text"></textarea>
                <span asp-validation-for="@Model.Text" class="text-danger"></span>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-sm btn-success" onclick="send('@ViewData["currentUserProfileId"].ToString()', '@Model.Post.UserId', '@Model.Post.Id');"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/resizeTextarea.js"></script>